<div class="container">

  <div class="row spacer-top-lg spacer-bottom-md">
    <div class="col-md-12">
      <h1 style="margin-top: 0;">Edit a package</h1>
    </div>
  </div>



    <form name="trackingForm" ng-submit="packages.submitNumber()">
      <div class="row">


      <!-- left -->
      <div class="col-md-4">
        <div class="form-group">
          <label for="search">Tracking number</label>
          <div class="input-group input-group-separate">
            <input class="form-control" name="search" id="trackingnumber" ng-model="packages.addTrackingNumber" ng-keydown="($event.keyCode == 13 || $event.keyCode == 9) && packages.submitNumber('add', packages.addTrackingNumber)"  placeholder="Scan or enter tracking number" type="text">
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="packages.modals.showScanHelp()" style="color:#454545" type="button">
                <i class="fa fa-1_5x fa-info-circle"></i>
              </button>
            </span>
          </div>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-md-4">

        <div class="form-group">
          <label for="carriers">Carrier</label>
          <select ng-model="packages.carrier" ng-options="s.name for s in packages.carriers track by s.value" class="form-control"></select>
        </div>

        <div class="form-group">
          <label for="recipient">Recipient</label>
          <select class="form-control"
            ng-model="packages.recipientSelect.selected"
            options="packages.recipientSelect.recipients"
            selectize="packages.recipientSelect.options">
          </select>
        </div>

        <div class="form-group">
          <label for="recipient">Sender</label>
          <select id="senders" name="senders" class="form-control"
                  selectize="packages.senderSelect.options"
                  options="packages.senderSelect.senders"
                  ng-model="packages.asset.sender_id">
          </select>
        </div>

        <div class="form-group">
          <div class="checkbox" style="margin-top:30px;">
            <label><input type="checkbox" ng-model="arrivedDamaged"> Arrived damaged</label>
          </div>
        </div>

        <div class="form-group">
          <label for="recipient">Comments</label>
          <textarea class="form-control"></textarea>
        </div>



      </div>

      <!-- right -->
      <div class="col-md-4">

        <div class="form-group">
          <label for="carriers">Status</label>
          <select ng-model="packages.status" ng-options="s.label for s in packages.statusMenu track by s.value" class="form-control"></select>
        </div>
        <div class="form-group" ng-show="packages.status.value == 'delivered'">
          <label for="recipient">Delivered to</label>
          <select id="senders" name="senders" class="form-control"
                  selectize="packages.senderSelect.options"
                  options="packages.senderSelect.senders"
                  ng-model="packages.asset.sender_id"></select>
        </div>
        <div class="form-group" ng-show="packages.status.value == 'delivered'">
          <label for="signed">Signed by</label>
          <textarea class="form-control" rows="7" id="signed"></textarea>
        </div>

      </div>
    </div>
    </form>


<!--
    <div class="row spacer-top-md">
      <div class="col-md-8">
        <table class="package-history">
          <tbody>
            <tr>
              <td class="text-primary">Package History</td>
              <td>04/06/2015</td>
              <td>7:15 AM</td>
              <td>Out for delivery</td>
              <td>Buffalo HQ</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    <div class="row spacer-top-md">
      <div class="col-md-8">
        <button class="btn btn-primary" ng-disabled="!packages.validTrackingNumber" ng-click="packages.save('one')">Save</button>
        <button class="btn btn-default" ng-click="packages.close('cancel')">Cancel</button>
        <!-- <button class="btn btn-link" ng-click="packages.resetAll()">Clear</button> -->
      </div>
    </div>
</div>
