<div class="conclusion">
<!-- yes, a sliced table. they're coming back in style, you'll see. -->
  <table border="0" cellpadding="0" cellspacing="0" height="390" id="Table_01" width="650">
    <tr>
      <td>
        <img alt="" height="93" src="modules/firstuse/assets/img/connect-scanner.png" width="215"></td>
      <td>
        <img alt="" height="93" src="modules/firstuse/assets/img/connect-scanner-text.png" width="435"></td>
    </tr>
    <tr>
      <td>
        <img alt="" height="121" src="modules/firstuse/assets/img/wifi.png" width="215"></td>
      <td>
        <img alt="" height="121" src="modules/firstuse/assets/img/wifi-text.png" width="435"></td>
    </tr>
    <tr>
      <td>
        <img alt="" height="129" src="modules/firstuse/assets/img/add-contact.png" width="215"></td>
      <td>
        <img alt="" height="129" src="modules/firstuse/assets/img/contact-text.png" width="435"></td>
    </tr>
    <tr>
      <td colspan="2">
        <img alt="" height="47" ng-click="firstuse.showOutsideHelp()" src="modules/firstuse/assets/img/link-help.png" width="650"></td>
    </tr>
  </table>

</div>

<div class="button-bar">
  <button class="btn btn-default" ui-sref="firstuse.slide5">Previous</button>
  <button class="btn btn-primary" ng-click="firstuse.done()">Finished with setup</button>
</div>
