<h1>Your Tracking Online home page</h1>

<p>Sendsuite Tracking Online gives you access to your most
frequent actions right on the Home page.</p>
<!-- <ul>
<li>Keep track of packages received and delivered</li>
<li>Find a package</li>
<li>See tracking stats</li>
</ul> -->

<img src="modules/firstuse/assets/img/tour_tracking_online.png" alt="" />

<div class="button-bar">
  <button class="btn btn-link" ui-sref="firstuse.conclusion">Skip tour</button>
  <button class="btn btn-primary" ui-sref="firstuse.slide2">Next</button>
</div>
