<div class="bg"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 col-xs-12 col-xs-offset-0">
      <div class="signin-box">
        <div class="prod-name">{{productName}}</div>
      <form name="myForm" class="loginform" novalidate>
        <h1>Forgot Password</h1>
        <p class="help-block forgot">Enter the email that matches your account.
          <br>We’ll email you a link so you can set a new password.</p>

        <div class="alert alert-danger" ng-show="fp.firstErrorState">
          That email is not recognized.
        </div>

        <div class="alert alert-success" ng-show="fp.successState">
          We sent an email to {{emailAddress}}. You will receive it in a few minutes. If you do not receive the email, check your Spam or Junk folder.
        </div>

        <div class="alert alert-danger" ng-show="fp.secondErrorState">
            <b>That email is not recognized.</b>
            <br>It looks like you can't remember your email. You can continue to try. We've just added some extra security.
        </div>

        <div class="form-group">
          <label>Email</label>
          <input class="form-control" type="text" name="email" ng-model="emailAddress" required>
        </div>
        <div class="spacer-bottom-lg">
            <img src="assets/img/fake-captcha.png" alt="Captcha FPO" ng-show="fp.secondErrorState">
          </div>
        <button class="btn btn-primary" ng-click="forgot.resetPassword()">Send</button>
      </form>
      <p class="spacer-top-md"><a href="" ui-sref="login">&larr; Return to sign in</a></p>
    </div>
    </div>
  </div>
</div>
