<div class="container-fluid" ng-controller="LoginCtrl">
  <div class="row">
    <div class="col-md-5 col-xs-12">
      <div class="loginform">
        <h1>Forgot Password</h1>
        <h4>An email has been sent.</h4>
        <p class="help-block">We sent an email to (email address). You will receive it in a few minutes.
          <br> Follow the instructions to reset your password.</p>
        <p>If you do not receive the email, check your Spam or Junk folder.</p>
      </div>
      <p><a href="#/login">&larr; Return to sign in</a></p>
    </div>
  </div>
</div>

