<div class="modal-header">
  <button type="button" class="close" ng-click="exists.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">This package already exists.</h4>
</div>
<div class="modal-body">
  <p>Package number<br>
    <b>1Z1235556700000419</b></p>

    <p>About 1 minute ago.</p>

    <!-- <p>If this is incorrect, check which package number was entered</p> -->

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="exists.close()">OK</button>
  <button type="button" class="btn btn-default" ng-click="exists.close()">Edit Package</button>
</div>
