<div class="modal-header">
  <button type="button" class="close" ng-click="dare.close()"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title">Are you sure you want to leave this page without saving?</h4>
</div>
<div class="modal-body">
  <p>If you continue, you'll lose all changes made since your last save.</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" ng-click="dare.close()">Leave page</button>
  <button type="button" class="btn btn-default" ng-click="dare.close()">Stay on page</button>
</div>
